.git

.next

node_modules

preview

.idea
.editorconfig
.vscode

coverage*

.gitignore
Dockerfile*
docker-compose*
.dockerignore
README.md
LICENSE
Makefile
helm-charts

# .env
# .env.local
.env.local.example
